body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  color: #3D3D3D;
}

h1 {
  font-style: italic;
  color: #FF6F00;
}

h2 {
  clear: both;
}

em {
  font-weight: bold;
}
/* 
video {
  clear: both;
  display: block;
} */

video {
  width: 100%;
  /* Adjust the width to 100% of its parent container */
  height: auto;
  /* Adjust the height automatically to maintain the aspect ratio */
  object-fit: contain;
  /* Ensure the video's aspect ratio is preserved and it is fully visible within its container */
}


section {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

header,
footer {
  clear: both;
}

.removed {
  display: none;
}

.invisible {
  opacity: 0.2;
}

.note {
  font-style: italic;
  font-size: 130%;
}

.videoView,
.classifyOnClick {
  position: relative;
  float: left;
  width: 80%;
  margin: 2% 1%;
  cursor: pointer;
}

.videoView p,
.classifyOnClick p {
  position: absolute;
  padding: 5px;
  background-color: rgba(255, 111, 0, 0.85);
  color: #FFF;
  border: 1px dashed rgba(255, 255, 255, 0.7);
  z-index: 2;
  font-size: 12px;
  margin: 0;
}

.highlighter {
  background: rgba(0, 255, 0, 0.25);
  border: 1px dashed #fff;
  z-index: 1;
  position: absolute;
}

.classifyOnClick {
  z-index: 0;
}

.classifyOnClick img {
  width: 100%;
}

.highlighter {
  border: 2px solid #00FF00; /* Green color to highlight detected objects */
  position: absolute;
}

p {
  color: white;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  position: absolute;
  margin: 0;
  padding: 2px 5px;
  font-size: 14px;
  border-radius: 3px;
  text-align: center;
}
